<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>Payment_app</title>{% endblock %}
    <!-- Кодировка веб-страницы -->
        <meta charset="utf-8">
    <!-- Настройка viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Подключаем Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

        <script type="text/javascript" src="static/js/main.js"></script>
    </head>
<!-- BASE_GENERIC -->

    <body>
         <!-- Навигационная панель -->
        <div class="general-container ">
                            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                                 <!-- Brand -->
                                 <a class="navbar-brand" href="/admin/myapp/">Главная</a>

                                 <!-- Toggler/collapsibe Button -->
                                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                                    <span class="navbar-toggler-icon"></span>
                                 </button>

                                 <!-- Navbar links -->
                                 <div class="collapse navbar-collapse" id="collapsibleNavbar">
                                    <ul class="navbar-nav">
                                       <li class="nav-item">
                                          <a class="navbar-brand" href="/admin/">Управление</a>
                                       </li>


                                    </ul>
                                 </div>
                              </nav>

                            <div class="container">
                                <div class="row justify-content-center">

                                        <!-- CONTENT -->
                                        {% block content %}<!-- default content text (typically empty) -->{% endblock %}
                                </div>
                            </div>
        </div>
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>