{% extends "base_generic.html" %}

{% block content %}


<div class="row justify-content-center">
    <dl>
        {% if not user.is_authenticated %}
        <dt>
            <h3 >Для доступа, пожалуйста, авторизуйтесь.</h3>
        </dt>
        {% else %}
        <dt>

            <h1><a href="/api/enterprise/" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Ваше предприятие</a></h1>


        </dt>
        <dt>

            <h1><a href="/api/cars/" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Автопарк</a></h1>

        </dt>
        <dt>

            <h1><a href="/api/edit_cars/0" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Редактировать</a></h1>


        </dt>
        <dt>

            <h1><a href="/api/trip/" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Трек</a></h1>


        </dt>

        {% endif %}
    </dl>
</div>

{% endblock %}