<html>
    <head>
        <title>carcompany_app</title>
    </head>
    <body>
         {% block sidebar %}
         {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
         {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
         {% endif %}
         {% endblock %}
         {% block content %}<!-- default content text (typically empty) -->{% endblock %}
        <div>
            <h1><a href="/">АВТОПАРК</a></h1>
        </div>

        <div>
            <h2><a href="/api/cars/">Доступные автомобили</a></h2>
            <p></p>
        </div>
        <div>
            <h2><a href="admin/">Администрирование</a></h2>
            <p></p>
        </div>
    </body>
</html>