{% extends "base_generic.html" %}
{% block content %}
    <div class="col-md-10">
                    <form  action="/api/trip/" method="post"  class="form-horizontal" novalidate="">{% csrf_token %}
                        <fieldset>
                             <div class="row">
                                <div class="col-sm-6">
                                    <label >Дата и время начала: </label>
                                </div>
                                 <div class="col-sm-6 col-sm-offset-4">
                                    <input type="datetime-local"  name="date_begin"/>
                                 </div>
                             </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label >Дата и время оеончания: </label>
                                </div>
                                 <div class="col-sm-6 col-sm-offset-4">
                                    <input type="datetime-local"  name="date_end"/>
                                 </div>
                             </div>
                        <div class="row">
                            <div class="col-sm-6">
                                ID
                            </div>
                            <div class="col-sm-6 col-sm-offset-4">
                                <input name="car_id" class="form-control" type="text" value="">
                            </div>
                        </div>
                        <div class="row offset-1">
                            <button type="submit">Отправить</button>
                        </div>
                        </fieldset>
                    </form>
        <p>RESULT: {{result}}</p>
        <p>_____________________________________________________________</p>

    </div>
{% endblock %}